<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Criar remédios</title>
</head>
<body>
<div layout:fragment="body">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>Criar Remédios</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Meu Perfil</a>
                </li>
                <li class="breadcrumb-item">
                    Cuidador
                </li>
                <li class="breadcrumb-item active">
                    <strong>Criar Remédio</strong>
                </li>
            </ol>
        </div>


        <div class="table-responsive m-t">
            <table class="table invoice-table">
                <thead>
                <div class="ibox ">
                    <div class="ibox-content">
                        <h2>
                            Adicione aqui os remédios que serão utilizados<span class="text-navy"></span>
                        </h2>

                        <div class="search-form">

                            <form action="index.html" method="get">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Escreva aqui" aria-label="Admin Theme" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" id="button-addon2">Salvar</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="search-result">
                            <h3><a href="#">Levotiroxina Sódica</a></h3>
                            <a href="#" class="search-link">Remédio para tireóide</a>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="search-result">
                            <h3><a href="#">Milgamma</a></h3>
                            <a href="#" class="search-link">Remédio para diabetes</a>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="search-result">
                            <h3><a href="#">Dipirona</a></h3>
                            <a href="#" class="search-link">Remédio para dor de cabeça</a>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="search-result">
                            <h3><a href="#">Vonau</a></h3>
                            <a href="#" class="search-link">Remédio para enjoo</a>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="search-result">
                            <h3><a href="#">Omeprazol</a></h3>
                            <a href="#" class="search-link">Remédio para dor de estômago</a>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="search-result">
                            <h3><a href="#">Milgamma</a></h3>
                            <a href="#" class="search-link">Remédio para diabetes</a>
                        </div>








                    </div>
                </div>
            </table>
        </div>
    </div>
    </div>

</div>
</body>
</html>