<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>LifeCare | Cuidador </title>
</head>
<body>
<div layout:fragment="body">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img alt="" class="rounded-circle" src="assets/profile_small.jpg">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">André Silva</font></font></span>
                            <span class="text-muted text-xs block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cuidador</font></font><b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item" href="profile.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Perfil</font></font></a></li>
                            <li><a class="dropdown-item" href="contacts.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contatos</font></font></a></li>
                            <li><a class="dropdown-item" href="mailbox.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Caixa de correio</font></font></a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="login.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sair</font></font></a></li>
                        </ul>
                    </div>

                </li>
                <li class="active">
                    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Menu</font></font></span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li class="active"><a href="index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rotina</font></font></a></li>
                        <li><a href="dashboard_2.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Meu Perfil</font></font></a></li>
                        <li><a href="dashboard_3.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mensagens</font></font></a></li>

                        <div class="row  border-bottom white-bg dashboard-header">
                            <div class="col-md-6">
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bem-vindo</font></font></h2>
                                <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Você tem 2 mensagens e 3 notificações sobre alteração na rotina.</font></font></small>
                                <ul class="list-group clear-list m-t">
                                    <li class="list-group-item fist-item">
                                <span class="float-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    7h00
                                </font></font></span>
                                        <span class="label label-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></span>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Remédio Tireóide Synthroid 80mg

                                            </font></font></li>
                                    <li class="list-group-item">
                                <span class="float-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    10h00
                                </font></font></span>
                                        <span class="label label-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font>
                        </font></span><font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"> Remédio Diabetes Milgamma 150mg
                                        </font></font></li>

                                    <li class="list-group-item">
                                <span class="float-right"><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                    13h00
                                </font></font></span>
                                        <span class="label label-primary"><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">3</font>
                        </font></span><font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"> Recreação
                                        </font></font></li>

                                    <li class="list-group-item">
                                <span class="float-right"><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                    15h30
                                </font></font></span>
                                        <span class="label label-default"><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">4</font></font></span>
                                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Médico na Worksafe
                                        </font></font></li>

                                    <li class="list-group-item">
                                <span class="float-right"><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                    18h00
                                </font></font></span>
                                        <span class="label label-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font>
                        </font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Aula de costura
                                    </font></font></li>
                                </ul>
                            </div>



                            <div class="col-md-8">
                                <div class="flot-chart dashboard-chart">

                                    </canvas><div class="flot-text" style="position: center; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px;">
                                    <img alt="" class="" src="/assets/grafico.jpg"></canvas></div>


                                </div>

                                </div>
                            </div>
                        </div>



                    </ul>
                </li>

    </nav>


</body>
</html>