<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Qualquer coisa</title>
</head>
<body>
<div layout:fragment="body">

    <div class="row  border-bottom white-bg dashboard-header">

        <div class="col-md-3">
            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bem-vindo</font></font></h2>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Você tem 2 mensagens e 3 notificações sobre alteração na rotina.</font></font></small>
            <ul class="list-group clear-list m-t">
                <li class="list-group-item fist-item">
                                <span class="float-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    7h00
                                </font></font></span>
                    <span class="label label-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></span>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"> Remédio Tireóide Synthroid 80mg

                        </font></font></li>
                <li class="list-group-item">
                                <span class="float-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    10h00
                                </font></font></span>
                    <span class="label label-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font>
                        </font></span><font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;"> Remédio Diabetes Milgamma 150mg
                    </font></font></li>

                <li class="list-group-item">
                                <span class="float-right"><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                    13h00
                                </font></font></span>
                    <span class="label label-primary"><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">3</font>
                        </font></span><font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;"> Recreação
                    </font></font></li>

                <li class="list-group-item">
                                <span class="float-right"><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                    15h30
                                </font></font></span>
                    <span class="label label-default"><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">4</font></font></span>
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Médico na Worksafe
                    </font></font></li>

                <li class="list-group-item">
                                <span class="float-right"><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                    18h00
                                </font></font></span>
                    <span class="label label-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font>
                        </font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Aula de costura
                </font></font></li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="flot-chart dashboard-chart">
                <div class="flot-chart-content" id="flot-dashboard-chart" style="padding: 0px; position: relative;">
                    <canvas class="flot-base" width="514" height="180" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 514px; height: 180px;">

                    </canvas><div class="flot-text" style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px;">
                    <img alt="" class="" src="./assets/grafico.jpg"></canvas></div>


                </div>

                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>