<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="body">
    <div class="mvl ptm uiInterstitial _9np_ uiInterstitialLarge uiBoxWhite">
        <div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
            <div class="clearfix uiHeaderTop">
                <div class="rfloat _ohf">
                    <h2 class="accessible_elem">Esqueceu a senha?</h2>
                </div>
                <div class="uiHeaderActions"></div>


            </div>
        </div>

        <div class="phl ptm uiInterstitialContent">
            <div class="identify_yourself_block">
                <table class="_9nq3">
                    <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <div class="_9nq2 marginBottom16px">Digite uma nova senha.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="text" class="inputtext _9o1w" id="identify_password" name="password"
                                   placeholder="Nova senha"
                                   autofocus="1">

                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input type="text" class="inputtext _9o1w" id="identify_passwordk" name="password"
                                   placeholder="Confirme nova senha"
                                   autofocus="1" aria-label="Email ou número de celular">
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="uiInterstitialBar uiBoxGray topborder">
            <div class="clearfix">
                <div class="rfloat _ohf">
                    <a role="button" class="_42ft _4jy0 _9nq1 textPadding20px _4jy3 _517h _51sy" href="/login.php">Voltar
                    </a>
                    <button value="1" class="_42ft _4jy0 _9nq0 textPadding20px _4jy3 _4jy1 selected _51sy" type="submit"
                            name="did_submit" id="did_submit">Salvar
                    </button>
                </div>
                <div class="pts">

                </div>
            </div>

        </div>
    </div>

</div>


</body>
</html>