<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div layout:fragment="body">
        <div class="container content-space-t-3">
            <div class="row justify-content-lg-between align-items-lg-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="mb-5">
                        <h1 class="display-4 text-dark mb-5">Bem vindo ao <span class="text-primary">LifeCare</span></h1>
                        <p class="fs-3">Software de monitoramento da rotina de idosos</p>
                        <p class="fs-4">Um software ágil e prático para facilitar a sua vida e de todos a sua volta!</p>
                    </div>

                    <li>
                        <a href="/account/login">
                            <i class="fa fa-sign-out"></i> Entrar
                        </a>
                    </li>

                    <div class="d-grid d-sm-flex gap-3 mb-5">
                        <a class="btn btn-primary" href="/account/register">Crie sua conta agora</a>
                        <a class="btn btn-ghost-dark btn-pointer" href="#">É simples e gratuito!</a>
                    </div>
                </div>

                <!-- End Col -->

                <div class="col-lg-6">
                    <div class="position-relative">
                        <div class="position-relative">
                            <img class="img-fluid" src="/assets/imagemhome.png">

                        </div>



                    </div>
                    <!-- End Media -->

                    <!-- Media -->
                    <!-- End Media -->
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    </div>


</body>
</html>